#player_editor {
    position: absolute;
    top: 0;
    left: 850px;
    width: 40em;
    border: 1px solid black;
}

#playerDefEditorRows {
    list-style-type: none;
    padding-left: 0.1em;
}

#player_editor .row {
    vertical-align: top;
}

#player_editor h3 {
    font-size: 1em;
}

#player_editor .row label {
    width: 9em;
    display: inline-block;
    text-align: right;
    padding-right: 1em;
    vertical-align: top;
}


.bigButton {
    border: 2px solid #1c94c4;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}